<a href="https://colab.research.google.com/github/sandhc1/GUVI_DS/blob/main/Mongo%20DB/Fruits_Market.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
!pip install dnspython #dns -- > network btw colab and mongodb
!pip install pymongo[srv] #these are linux cmd so we need to add !

import pymongo
from datetime import date
from datetime import datetime
import pandas as pd
import json

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [42]:
# Mongo DB Atlas username: sandhc1 pswd: sandhc1
# connecting to server and cluster
myclient = pymongo.MongoClient("mongodb+srv://sandhc1:sandhc1@cluster0.vbw4i.mongodb.net/?retryWrites=true&w=majority")

# create DB
mydb = myclient.Fruits_Store

# create fruit collection
mycol = mydb.fruits

In [44]:
mydict = [
    {"Apple": 230},
    {"Avacado": 220},
    {"Banana": 42},
    {"Grapes": 72},
    {"Guava": 45},
    {"Orange": 65},
    {"Papaya": 90},
    {"PineApple": 110},
    {"Sapota": 50},
    {"Pomegranate": 150}
]

mycol.insert_many(mydict)

In [45]:
# create user collection

usercol = mydb.user
dic = {'name':'vaishnavi','age':24}
usercol.insert_one(dic)

In [46]:
# create bill collection

billcol = mydb.bill
dic = {'Store_Name':'Reliance Fruits Fresh'}
billcol.insert_one(dic)

In [79]:
dict_1 = {
    "Store_Name" : "Reliance Fresh",
    "Bill_No" : "",
    "Fruits" : [],
    "Rate" : [],
    "kg" : [],
    "Total_amount": 0,
    "Date" : ""
}

items_dic ={}
total_amount = 0

user = int(input("Enter 1 for Billing person\nEnter 2 for Store Manager: "))
if user == 1:
  phno = int(input("Enter your phone number: "))
  user_bill = {"user_mobile" : phno}
  usercol.insert_one(user_bill)
  items = list(map(str,input("Enter items and quantity(Kgs): ").split()))
  for i in range(0,len(items),2):
    items_dic[items[i]] = int(items[i+1])
    buy = {"$set":{items[i] : int(items[i+1])}}
    usercol.update_one(user_bill,buy)
  
  today = date.today()
  today_date = today.strftime("%x")
  day = {"$set" : {"today" : today_date}}
  usercol.update_one(user_bill,day)
    
  user_hist = usercol.find({"user_mobile" : phno, "today" : today_date},{"_id":0, "user_mobile":0, "date":0})
  dict_1["Bill_No"] = user_bill["user_mobile"]
  dict_1["Date"] = today_date
  
  for x,y in items_dic.items():
    dict_1["Fruits"].append(x)
    dict_1["kg"].append(y)

  for i in dict_1["Fruits"]:
    fr = mycol.find_one({i:{'$exists':1}})
    #if mycol.find({i:{'$exists':1}}).size() >= 1:
    dict_1["Rate"].append(fr.get(i))

  for price,qnt in zip(dict_1["Rate"], dict_1["kg"]):
    total_amount += (price * qnt)
  dict_1["Total_amount"] = dict_1["Total_amount"]+total_amount

  billcol.insert_one(dict_1)
  data = pd.DataFrame(billcol.find())
  print(data)

elif user == 2:
  today = date.today()
  today_date = today.strftime("%x")
  query_1 = billcol.find({"Date" : today_date},{"_id" : 0, "Date":0, "Store_Name":0})
  df = pd.DataFrame(query_1)
  total_sale = df["Total_amount"].agg("sum")
  print("\n",df)
  print("\nTotal sales on",today_date,": ",total_sale)

  new_dic = {}
  query_2 = usercol.find({"today" : today_date},{"_id" : 0, "today" : 0, "user_mobile":0})
  for x in query_2:
    for x1,y1 in x.items():
      if x1 in new_dic.keys():
        new_dic[x1] = new_dic[x1]+y1
      else:
        new_dic[x1] = y1

  #print(new_dic)
  df_2 = pd.Series(new_dic)
  print("\nTotal Quantity sold",today_date,": \n\n",df_2)

Enter 1 for Billing person
Enter 2 for Store Manager: 2
08/10/22

       Bill_No                           Fruits               Rate  \
0  9989446522                  [Apple, Banana]          [230, 42]
1  9989441583                         [Sapota]               [50]
2  9989446522          [Apple, Sapota, Grapes]      [230, 50, 72]
3  9848286439  [Apple, Banana, Sapota, Grapes]  [230, 42, 50, 72]
4  9989441583                          [Apple]              [230]

             kg  Total_amount
0        [2, 1]           502
1           [3]           150
2     [3, 1, 1]           812
3  [3, 2, 1, 1]           896
4           [3]           690

Total sales on 08/10/22 :  3050

Total Quantity sold 08/10/22 :

 Apple     21
Banana     5
Sapota     6
Grapes     3
Papaya     2
mango      2
dtype: int64