<a href="https://colab.research.google.com/github/sandhc1/GUVI_DS/blob/main/Mongo%20DB/Phonebook_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!pip install dnspython #dns -- > network btw colab and mongodb
!pip install pymongo[srv] #these are linux cmd so we need to add !

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.2.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [8]:
# Mongo DB Atlas username: sandhc1 pswd: sandhc1

import pymongo

# connecting to server and cluster
myclient = pymongo.MongoClient("mongodb+srv://sandhc1:sandhc1@cluster0.vbw4i.mongodb.net/?retryWrites=true&w=majority")

In [9]:
# create DB

mydb = myclient.Phonebook

# create collection

mycol = mydb.contacts

In [11]:
# check if Phonebook DB exists

dblist = myclient.list_database_names()
if "Phonebook" in dblist:
  print("Database exists")

Database exists

In [12]:
# check if contacts collection exists

collist = mydb.list_collection_names()
if 'contacts' in collist:
  print("Collection exists")

Collection exists

**Create Contact**

In [34]:
# insertion
import re

name = input("Enter Name: ")
phno = input("Enter Phone number: ")
mailid = input("Enter Email Id: ")

pattern1 = "^[a-zA-Z]+[a-zA-Z0-9.]+@[a-zA-Z]+.[a-zA-Z]+$"
pattern2 = "^\d{10}$"

r1 = re.search(pattern1, mailid)
r2 = re.search(pattern2, phno)

if r1 and r2:

    dict1 = {
        "_id" : name,
        "number": phno,
        "email" : mailid
    }

    x = mycol.insert_one(dict1)
    print(x.inserted_id,"record inserted")
else:
  print("Invalid phonenumber or Mail Id, record can't be inserted")

Enter Name: sameer
Enter Phone number: 8012309845
Enter Email Id: dev123@gmail.com
sameer record inserted

**Search Contact**

In [35]:
# search by name ending with i

for x in mycol.find({'_id':{'$regex': 'i$'}},{'email':0}):
  print(x)

{'_id': 'Asha Rani', 'number': '9291538380'}
{'_id': 'Balaji', 'number': '9848286430'}
{'_id': 'guvi', 'number': '0000902345'}
{'_id': 'vaishnavi', 'number': '9989447890'}

In [36]:
# search by name starts with the letter 'g' or higher

for x in mycol.find({'_id':{'$gt':'g'}},{'_id':1,'number':1}):
  print(x)

{'_id': 'guvi', 'number': '0000902345'}
{'_id': 'nirmal', 'number': '9999988888'}
{'_id': 'sameer', 'number': '8012309845'}
{'_id': 'vaishnavi', 'number': '9989447890'}

In [39]:
# search by phonenumber starting with '99' and names letter 'g' or higher

for x in mycol.find({'number':{'$regex':'^99'}, '_id':{'$gt':'g'}},{'email':0}):
  print(x)

{'_id': 'nirmal', 'number': '9999988888'}
{'_id': 'vaishnavi', 'number': '9989447890'}

In [43]:
# search by phonenumber starting with '99' or names letter 'm' or higher
# or condition and sort

filter = {'$or' : [{'number' : {'$regex' : '^99'}} , {'_id' : {'$gt' : 'm'}}]}
col = mycol.find(filter,{}).sort("_id",-1)

for x in col:
  print(x)

{'_id': 'vaishnavi', 'number': '9989447890', 'email': 'vaishu@gmail.com'}
{'_id': 'sameer', 'number': '8012309845', 'email': 'dev123@gmail.com'}
{'_id': 'nirmal', 'number': '9999988888', 'email': 'nirmal.j@gmail.com'}

**Delete Contact**

In [44]:
# delete one contact with contact name

query = {'_id':'guvi'}
mycol.delete_one(query)

In [45]:
# delete multiple contacts

query = {'_id' : {'$lt':'g'}}
x = mycol.delete_many(query)
print(x.deleted_count,"records deleted.")

2 records deleted.

**Display Contacts in Pandas DataFrame**

In [51]:
import pandas as pd

data = pd.DataFrame(list(mycol.find()))
print(data)

         _id      number               email
0     nirmal  9999988888  nirmal.j@gmail.com
1  vaishnavi  9989447890    vaishu@gmail.com
2     sameer  8012309845    dev123@gmail.com