<a href="https://colab.research.google.com/github/sandhc1/GUVI_DS/blob/main/Practice/Machine%20Learning/KNN_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from sklearn.datasets import make_regression
X, Y = make_regression(n_samples = 100, n_features = 5)

In [2]:
X.shape

(100, 5)

In [3]:
Y.shape

(100,)

In [6]:
import pandas as pd
df = pd.DataFrame(X, columns = ["X1","X2","X3","X4","X5"])
df.head(2)

         X1        X2        X3        X4        X5
0 -0.881467 -0.960052  0.668320  0.042451 -0.812456
1  0.814055  0.922866 -1.722835 -1.069870 -1.316871

In [8]:
df_output = pd.DataFrame(Y, columns=["Output"])
df_output.head(2)

       Output
0 -145.388922
1  -21.521390

In [13]:
df["X1"].values.reshape(-1,1).shape

(100, 1)

In [15]:
df_output.shape

(100, 1)

In [20]:
from sklearn.neighbors import KNeighborsRegressor
model = KNeighborsRegressor(n_neighbors=1)
model.fit(df["X1"].values.reshape(-1,1),df_output)

KNeighborsRegressor(n_neighbors=1)

In [21]:
model.predict([[0.814055]])

array([[-21.52138977]])

In [22]:
x_train = df.iloc[0:70,:]
x_test = df.iloc[70:,:]

In [24]:
y_train = df_output.iloc[0:70,:]
y_test = df_output.iloc[70:,:]

In [25]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(70, 5)
(30, 5)
(70, 1)
(30, 1)

In [26]:
model = KNeighborsRegressor(n_neighbors=1)
model.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=1)

In [28]:
out = model.predict(x_test)

In [29]:
results = pd.DataFrame()
results["actual_output"] = y_test
results["predict_k=1"] = out

In [30]:
results

    actual_output  predict_k=1
70      97.941749   146.836729
71     116.589330   162.104949
72      -9.708180     8.672187
73      89.846934     8.541646
74     -38.528171  -126.385948
75     215.104020   111.940024
76      24.151635   -40.961808
77      60.852970    27.046887
78    -130.281877  -119.340047
79    -104.016068   -61.995478
80      -4.052091    43.793523
81      21.594576   -21.521390
82      26.693945   -13.296715
83    -131.638177  -183.232728
84     143.831143   162.104949
85      24.631458    58.207343
86      10.285641    46.172355
87      43.360734    41.524190
88     103.355071    81.352066
89     -10.713693     3.052055
90     -12.918168    -0.056039
91     212.737866   146.836729
92     -75.205966   -53.090861
93      91.512681   153.737278
94     -18.348357   -40.961808
95     -87.058472  -115.000009
96     132.967492   101.419751
97      29.151584    81.352066
98       9.311059    -0.056039
99      41.440120    46.172355

In [31]:
results["Abs_Error"] = (results["actual_output"] - results["predict_k=1"]).abs()

In [32]:
results.head()

    actual_output  predict_k=1  Abs_Error
70      97.941749   146.836729  48.894980
71     116.589330   162.104949  45.515620
72      -9.708180     8.672187  18.380367
73      89.846934     8.541646  81.305288
74     -38.528171  -126.385948  87.857777

In [33]:
results["Abs_Error"].sum() #sum of absolute error

1156.3939779150767

In [34]:
results["Abs_Error"].sum()/results.shape[0] #mean absolute error

38.546465930502556

In [35]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(results["actual_output"], results["predict_k=1"])

38.546465930502556

In [50]:
# lower the MAE, better the model with that particular k

results_MAE = []
for n in range(1,x_train.shape[0]+1):
  model = KNeighborsRegressor(n_neighbors = n)
  model.fit(x_train, y_train)
  results_MAE.append(mean_absolute_error(y_test, model.predict(x_test)))

In [51]:
len(results_MAE)

70

In [54]:
results_MAE

[38.546465930502556,
 32.64644678879531,
 32.950723730294285,
 32.25246928116708,
 32.65738200176889,
 36.681703800606755,
 35.59081482106851,
 32.570184468564015,
 34.917386251295476,
 33.98461493630103,
 34.86886471436563,
 36.67702175910194,
 36.88879328545905,
 37.839138667559574,
 36.737944486981206,
 37.57603722034467,
 38.25897214733977,
 39.76262596489884,
 40.31692708999601,
 41.779869057547735,
 42.59457168651787,
 44.37319406329414,
 44.76741312899636,
 43.80260507981816,
 44.16142858775982,
 45.43939221103542,
 44.51719285800325,
 44.595683347685664,
 45.81287059811177,
 46.92775644578062,
 47.89090642982819,
 48.386362468758634,
 48.7885707919196,
 49.28449553711001,
 50.52251769264897,
 50.35329003254176,
 50.87137059749571,
 51.49802398133356,
 51.94294911807176,
 52.791237912366356,
 53.02806754714041,
 53.55503815367211,
 54.54991981523997,
 55.22051737371318,
 55.554004011991644,
 56.41062772257026,
 56.95129089167929,
 57.970836000053914,
 58.221663835272246,
 58.64712313536327,
 58.967769571086386,
 58.64679454823904,
 59.302940701518466,
 59.612255480544576,
 61.00961962910453,
 61.60301647295439,
 61.683665946776664,
 61.84630097477887,
 62.10552426834743,
 62.8100746085955,
 63.899300902296574,
 64.23657676631235,
 64.56558445018945,
 64.53252447951837,
 65.07614704146783,
 65.57535225044747,
 65.49884260225545,
 66.4527821095708,
 68.23375267197895,
 69.13170485604738]

In [52]:
import numpy as np
best_k = np.array(results_MAE).argmin() + 1

In [53]:
best_k

4

Cross validation - KFold

In [77]:
from sklearn.model_selection import KFold, cross_val_score
kf = KFold(n_splits= 5)
model = KNeighborsRegressor(n_neighbors = 4)
result = cross_val_score(model, df, df_output, cv= kf, scoring = 'neg_mean_absolute_error')

In [78]:
result.mean()

-38.28796160761467

In [80]:
# Higher the MAE, better the model with that particular k

from sklearn.model_selection import KFold, cross_val_score
kf = KFold(n_splits= 5)

results_MAE = []

for n in range(1,x_train.shape[0]+1):
  model = KNeighborsRegressor(n_neighbors = n)
  result = cross_val_score(model, df, df_output, cv= kf, scoring = 'neg_mean_absolute_error')
  results_MAE.append(result.mean())

In [81]:
len(results_MAE)

70

In [82]:
import numpy as np
best_k = np.array(results_MAE).argmax() + 1
print(best_k)

2

In [83]:
results_MAE[best_k-1]

-35.61958069177739

In [84]:
results_MAE

[-43.74790002533492,
 -35.61958069177739,
 -36.778573030358366,
 -38.28796160761467,
 -37.53545210665144,
 -37.046349891770774,
 -37.07505386412361,
 -39.491951915421524,
 -41.35818837352217,
 -41.417788209032416,
 -41.81555817028051,
 -42.62602313673439,
 -43.165324295570464,
 -44.50202907933267,
 -45.21444727285321,
 -45.622993521207746,
 -46.0430288961757,
 -47.109354242212675,
 -47.23408362880175,
 -47.79988963038638,
 -48.34073807133704,
 -49.85344118433916,
 -49.84387833141891,
 -50.510229507669294,
 -51.48527457091868,
 -52.59229151777977,
 -52.94224724613031,
 -53.036237973169364,
 -53.32358468442976,
 -53.51001923016058,
 -53.78759057207624,
 -54.74998242043155,
 -55.35989786173009,
 -55.35424391961482,
 -55.70673260980247,
 -56.792812833879694,
 -56.89943424427999,
 -57.04080317934434,
 -57.5357894092695,
 -57.859751783169756,
 -58.171246838143475,
 -58.64767904394065,
 -58.8742321543833,
 -59.35060125964149,
 -59.82008420124205,
 -60.61601284042867,
 -61.2411027986692,
 -61.40747448092242,
 -62.000465155572044,
 -62.618101292823134,
 -63.35339984118824,
 -63.96923317671883,
 -64.5755323274565,
 -64.90756583843803,
 -65.36139025455263,
 -66.01848590087545,
 -66.71164737883653,
 -66.80081723326236,
 -67.01088517488913,
 -67.58971905531192,
 -68.26802985974405,
 -68.81402810182718,
 -69.28432090722211,
 -69.67167748368945,
 -70.04324830741697,
 -70.30153614258359,
 -70.74196962515627,
 -71.05519218543601,
 -71.3311961356296,
 -71.56841821227316]